html {
    height: 100%;
    background-image: url("../images/main_background.jpg");
    background-size: cover;
    background-repeat: none;
    background-position-x: -50px;
    background-position-y: -200px;
}
body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    border: 5px solid black;
    box-shadow: 0 0 5px 5px #2a2929;
    background-color: rgba(255, 255, 255, 0.849);
    background-size: cover;
    background-repeat: none;
    width: 1200px;
    height: 700px;
    margin: auto;
    position: relative;
}
#gameTitleContainer {
    font-size: 38px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
#rules {
    margin-top: 125px;
    margin-left: 50px;
}
#example {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
h2 {
    font-size: 30px;
}
p {
    margin: 0px;
    margin-left: 40px;
    padding: 0;
}
#startBtn {
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.229);
    border: 1px solid rgb(60, 59, 59);
    border-radius: 75px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 31, 30);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    padding: 40px;
    margin-right: 100px; 
}
.title {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 30px;
}
.madeBy {
    position: flex;
    margin-top: 35px;
    margin-right: 20px;
    text-align: right;
}
input::placeholder {
    color: white;
    opacity: 0.75;
}
#tryAgainBtn {
    margin-right: 15px;
    background: white;
    cursor: pointer;
    border-radius: 6px;
}
#goBackBtn {
    background: white;
    cursor: pointer;
    border-radius: 6px;
}
.typeArea {
    font-size: 85px;
    width: 1000px;
    margin: 6% 0 0 7.5%;
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    border: none;
    outline: none;
}

#display {
    width: 850px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: rgba(255, 255, 255. 0.01);
    margin: auto;
    margin-top: 48px;
    margin-bottom: 50px;
}

#answer-Box {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.818);
    width: 1200px;
    height: 240px;
}

.timer {
    height: 15px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(64, 255, 0), rgb(24, 24, 24));
    animation-name: timer;
    animation-duration: 10s;

}

.timerDelay {
    animation-delay: 6s;
}

@keyframes timer {
    from {
        width: 66%;
    }
    50% {
        background: linear-gradient(to bottom, rgb(199, 240, 33), rgb(24, 24, 24));
    }
    60% {
        background: linear-gradient(to bottom, rgb(249, 169, 22), rgb(24, 24, 24));
    }
    to {
        background: linear-gradient(to bottom, rgb(255, 59, 45), rgb(24, 24, 24));
        width: 0%;
    }
}