html {
    height: 100%
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid black;
    box-shadow: 5px 10px 8px 10px #888888;
    width: 1200px;
    height: 700px;
    margin: auto;
    position: relative;
}

#gameTitleContainer {
    font-size: 38px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}



#rules {
    margin-top: 125px;
    margin-left: 50px;
}

#example {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}



h2 {
    font-size: 30px;
}

p {
    margin: 0px;
    margin-left: 40px;
    padding: 0;
}

#startBtn {
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(232, 250, 255);
    border: none;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 31, 30);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    padding: 40px;
    margin-right: 100px; 
}

.madeBy {
    position: flex;
    margin-top: 35px;
    margin-right: 20px;
    text-align: right;
}

input::placeholder {
    color: white;
    opacity: 0.75;
}

#tryAgainBtn {
    margin-right: 15px;
    background: white;
    cursor: pointer;
    border-radius: 6px;
}

#goBackBtn {
    background: white;
    cursor: pointer;
    border-radius: 6px;
}