html {
    height: 100%;
    /* background-image: url("../images/main_background.jpg"); */
    background-size: cover;
    background-repeat: repeat;
    background-position-x: -50px;
    background-position-y: -200px;
}

#bgmContainer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 25px;
}

.bgmBtn {
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(to right bottom, #191b21, #b6c3c2);
    color: white;
    border-radius: 5px;
    border: 0;
    min-width: 100px;
    line-height: 30px;
    margin-top: 10px;
}

#bgmBtnStop {
    margin-left: 10px;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    border: 5px solid black;
    box-shadow: 0 0 5px 5px #2a2929;
    background-color: rgba(255, 255, 255, 0.849);
    background-size: cover;
    background-repeat: none;
    width: 1200px;
    height: 700px;
    margin: auto;
    position: relative;
}

#gameTitleContainer {
    font-size: 38px;
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

#rules {
    margin-top: 55px;
    margin-left: 50px;
}

#example {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 30px;
}

p {
    margin: 0px;
    margin-left: 40px;
    padding: 0;
}

#startBtn {
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.229);
    border: 1px solid rgb(60, 59, 59);
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 31, 30);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    margin-right: 100px;
    box-shadow: 1px 1px 40px 1px #000000;
    transition: 0.4s;
}

#startBtn:hover {
    background: rgba(211, 211, 211, 0.399);
    transform: scale(1.07);
}

.title {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 30px;
}

.madeBy {
    position: flex;
    margin-top: 35px;
    margin-right: 20px;
    text-align: right;
}

input::placeholder {
    color: white;
    opacity: 0.75;
}
#tryAgainBtn {
    margin-right: 15px;
    background: white;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    background: linear-gradient(to right bottom, #191b21, #b6c3c2);
}

#goBackBtn {
    background: white;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    background: linear-gradient(to right bottom, #191b21, #b6c3c2);
}

.typeArea {
    font-size: 85px;
    width: 1000px;
    margin: 6% 0 0 7.5%;
    background: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    border: none;
    outline: none;
}

#display {
    width: 850px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: rgba(255, 255, 255. 0.01);
    margin: auto;
    margin-top: 48px;
    margin-bottom: 50px;
}

#answer-Box {
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.818);
    width: 1200px;
    height: 240px;
}

.timer {
    height: 15px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(82, 169, 53), rgb(24, 24, 24));
    animation-name: timer;
    animation-duration: 10s;
}

.timerDelay {
    animation-delay: 6s;
}

@keyframes timer {
    from {
        width: 66%;
    }
    60% {
        background: linear-gradient(to bottom, rgb(109, 130, 47), rgb(24, 24, 24));
    }
    65% {
        background: linear-gradient(to bottom, rgb(172, 126, 39), rgb(24, 24, 24));
    }
    to {
        background: linear-gradient(to bottom, rgb(162, 48, 40), rgb(24, 24, 24));
        width: 0%;
    }
}
